body {
    background-color: #FFF5E4;
}

hr {
    border-style:dotted none none;
    width: 5%;
    border-color: #850E35;
    border-width: 5px;
}

img {
    height: 200px;
}

h1, h3 {
    color: #EE6983;
}